gitignore
.curseclient
logs/
saves/
playerSnapshots/
modsold/
crash-reports/
backups/
.history/
old-mods/
.mixin.out/
data/
downloads/
xaero/
saves/
schematics/
XaeroWaypoints_BACKUP*/
Distant_Horizons*/
debug/
screenshots/
XaeroWorldMap/
XaeroWaypoints/
unusedmods/
config/yes_steve_model/cache/
config/WildfireGender/
mods/zmedievalmusic*.jar

patchouli_data.json
options.txt
realms_persistence.json
usercache.json
observable_announce
usernamecache.json
command_history.txt
servers.dat*
mods/worldedit-mod-7.3.8.jar

essential/
